UserService/UserWeb/Connected Services/UserService/WSUserService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserWeb.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserWeb.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseService" nillable="true" type="tns:ResponseService" />
</xs:schema>